# dependencies
node_modules/
coverage/
dist/

# logs
logs/
*.log

# dotenv
.env
.env.local
.env.*.local

# database
.docker/
pgdata/
docker-init/ # optional if you generate from migration files

# compiled artifacts
*.tsbuildinfo

# system
.DS_Store
Thumbs.db

# test output
*.lcov
*.clover